body.routes {

    overflow-x: hidden;
    background-color: rgb(120, 85, 77);
    margin: 0;

}

.logo {

    fill: none;
    stroke: rgb(255, 255, 255);
    stroke-linecap: round;
    stroke-miterlimit: 10;
    width: 75px;
    height: auto;
    margin: 1.5em 9em 0 150px;
}

.logo-index {
    stroke: rgb(255, 255, 255);
    fill: none;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    width: 355px;
    height: auto;
    font-family: Poppins-ExtraLight, Poppins;
    font-size: 14.95px;
    font-weight: 200;
    padding-left: 5em;
}

p {
    color: #fefefe;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 0.5em;

}

h1 {
    color: #fefefe;
    padding-left: 0.5em;
    font-family: helvetica, arial;

}

h2 {
    color: rgb(226, 226, 226);
    font-family: Helvetica, Arial, sans-serif;
    padding-left: 0.5em;

}

button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 20px;
    background-color: white;
    color: rgb(0, 0, 0);
    border: 2px solid #8a8a8a;
 margin: 2em 0em 0em 8em;
}

button a {
    color: black;
}

/* begin tweede pagina */
.maps-img-size {
    height: 120px;
    width: auto;
}

.maps-image {
    padding: 1em 7em 0 7em;
}

h3 {
    padding-left: 0.5em;
    font-family: helvetica, arial;

}

h4 {
    color: #fefefe;
    font-size: 1.2em;
    font-family: Helvetica, arial;
    padding: 0 0 0 0.5em;
}

.location-list-li {
    border-radius: 20px;
    color: #000000;
    text-decoration: none;
    list-style-type: none;
    background-color: #fefefe;
    padding-left: 0em;
    max-width: 375px;
    margin-top: 1em;
    margin-bottom: 3.5em;
    margin-left: 1em;
    margin-right: 1em;
    font-family: helvetica, arial;
    padding-bottom: 2em;
    padding-top: 0.1em;

}

li {
    padding-left: 0.5em;
    margin-right: 1em;
    margin-left: 2em;
    list-style-type: circle;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

ul {
    padding-inline-start: 0;
    text-decoration: none;
    text-decoration-line: none;
}



a {
    text-decoration: none;
    color: #000;
}


.location-noord {
    color: #000;
}


nav {
    background: #fefefe;
    text-align: center;
    padding: 0;
    width: 100%;
    height: 90px;
    position: fixed;
    bottom: 0;
    margin-top: 5em;

}

nav ul {
    list-style-type: none;
margin: 0em 0em 0em 0em;    
}

nav li {
    margin: 0;
    display: inline-block;
    padding-left: 2em;
    padding-right: 2em;
    border: #000;
    margin-top: 1em;
}
.nav-img {
    height: 24px ;
    width: auto;

}
nav a {
    display: block;
}

.nav-ico {
    fill-rule: evenodd;
    stroke: rgb(255, 255, 255);
    fill: none;
    stroke-miterlimit: 10;
    width: 40px;
    stroke-width: 2px;
}

li.active .nav-ico {
    fill-rule: evenodd;
    stroke: white;
    fill: white;
    stroke-miterlimit: 10;
    width: 40px;
}

.space {
    height: 80px;
}